<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração - Lista de Usuários</title>
    <link rel="stylesheet" href="/assets/css/painel.css"> <!-- Link para o CSS principal -->
    <link rel="stylesheet" href="/assets/css/editar.css"> <!-- Link para o CSS da barra de pesquisa -->
</head>
<body>
    <header class="header">
        <h1>Painel de Administração - Lista de Usuários</h1>
    </header>

    <div class="container">
        <h2>Lista de Usuários Cadastrados</h2>

        <form class="search-form" th:action="@{/api/usuarios/pesquisar}" method="get">
            <input type="text" name="keyword" placeholder="Pesquisar usuário por nome ou CPF">
            <button type="submit" class="btn">Pesquisar</button>
        </form>

        <ul class="user-list">
            <li class="user-item" th:each="usuario : ${usuarios}">
                <div class="user-details">
                    <strong th:text="${usuario.nome}">Nome do Usuário</strong>
                    <p th:text="${usuario.cpf}">Detalhes do usuário...</p>
                </div>
                <div class="user-actions">
                    <a th:href="@{/api/usuarios/{id}/editar(id=${usuario.codUsuario})}" class="btn">Editar</a>
                    <a th:href="@{/api/usuarios/{id}/delete(id=${usuario.codUsuario})}"
                       class="btn"
                       onclick="return confirm('Tem certeza que deseja deletar este usuário?')">Excluir</a>
                </div>
            </li>
        </ul>
    </div>

    <footer class="footer">
        &copy; 2024 Star Hotel
    </footer>
</body>
</html>
