<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Star Hotels - Quartos e Suítes</title>
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/global-header.css">
	<link rel="stylesheet" href="/assets/css/global-footer.css">
	<link rel="stylesheet" href="/assets/css/rooms-and-suites.css">
	<link rel="shortcut icon" href="/assets/img/favicon.webp" type="image/x-icon">
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="header-nav-bar">
                <div class="header-nav-logo">
					<a href="index">
						<img src="https://res.cloudinary.com/joshuafolorunsho/image/upload/v1591615159/star_hotels_logo.png"
							alt="logotipo do star hotels">
					</a>
				</div>
                <ul class="header-nav-lists">
                    <li class="header-nav-list">
                        <a class="header-nav-link" href="\">Início</a>
                    </li>
                    <li class="header-nav-list"><a class="header-nav-link header-active"
                            href="rooms-and-suites">Quartos e Suítes</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="facilities">Instalações</a></li>
                    <li class="header-nav-list"><a class="header-nav-link" href="contact-page">Contato</a></li>
                    <li class="header-nav-list"><a class="header-btn header-btn-custom" href="loginCliente">RESERVAR AGORA</a></li>
                </ul>
                <div class="header-hamburger-icon">
                    <div class="header-hamburger-line-1"></div>
                    <div class="header-hamburger-line-2"></div>
                    <div class="header-hamburger-line-3"></div>
                </div>
            </nav>
    
    </header>
    <main>
        <div class="container">
    
            <!-- Top Text -->
            <div class="page-header-container">
                <h2 class="page-header">Quartos do Star Hotel</h2>
                <hr />
                <p class="page-sub-header">
                    Aproveite as nossas promoções de hotel. Desfrute do conforto moderno e da vista panorâmica
                </p>
            </div>
    
            <!-- Seção de Ofertas Especiais -->
            <section class="special-offers">
                <div class="row center-lg">
                    <div class="col image-col right-marg">
                        <img src="assets/img/hotel-1.webp" alt="imagem do quarto" class="small-image">
                        <img src="assets/img/hotel-2.webp" alt="imagem do quarto" class="small-image">
                        <img src="assets/img/hotel-3.webp" alt="imagem do quarto" class="small-image">
                        <div class="side-by-side-container">
                            <div class="large-image-container">
                                <img src="assets/img/hotel-4-large.webp" alt="imagem do quarto grande" class="large-image">
                            </div>
                            <section class="stacked-image-container">
                              <div><img src="assets/img/hotel-5.webp" alt="imagem do quarto" class="small-image"></div>
                              <div><img src="assets/img/hotel-6.webp" alt="imagem do quarto" class="small-image"></div>
                            </section>
                        </div>
                    </div>
                    <div class="col">
                        <h3 class="offers-title">Ofertas Especiais</h3>
                        <p class="offers-sub-title">
                            Ganhe 10% de desconto nesta vista para a cidade - quarto padrão. <br> Ofertas válidas até 31 de junho de 2020
                        </p>
                        <ul class="offers-list">
                            <li>
                                <div>
                                    <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                    <p class="list-text">Serviço de Wi-Fi gratuito</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                    <p class="list-text">Melhor Garantia de Tarifa</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                    <p class="list-text">Acesso DSTV gratuito</p>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-fill btn-large">Ver Mais</a>
                    </div>
                </div>
            </section>
    
            <!-- Quartos -->
            <section class="rooms-section">
                <div class="row room-section-header-container">
                    <div class="col col-3">
                        <h4 class="room-section-header active-header" id="standard-room">Quartos Padrão</h4>
                    </div>
                    <div class="col col-3">
                        <h4 class="room-section-header" id="executive-room">Quartos Executivos</h4>
                    </div>
                    <div class="col col-3">
                        <h4 class="room-section-header" id="king-room">Suítes King</h4>
                    </div>
                </div>
                <div class="row center-lg">
                    <div class="rooms col col-2">
                        <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_42_nastdj.png"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Econômico Padrão Individual</h3>
                        <p class="room-text">Projetado especificamente para praticidade e conforto</p>
                        <div>
                            <div class="details-container">
                                <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                <p class="list-text">2 Pessoas</p>
                            </div>
                            <div class="details-container">
                                <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                <p class="list-text">1 Cama King Size</p>
                            </div>
                        </div>
                        <p class="amount-text">NGN25,000 Por Noite</p>
                        <div class="buttons-container">
                            <a href="#" class="btn btn-ghost">Ver Mais</a>
                            <a href="loginCliente" class="btn btn-fill">Reservar Agora</a>
                        </div>
                    </div>
                    <div class="rooms col col-2">
                        <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638449/Rectangle_43_d9eepu.png"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Econômico Padrão Individual</h3>
                        <p class="room-text">Projetado especificamente para praticidade e conforto</p>
                        <div>
                            <div class="details-container">
                                <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                <p class="list-text">2 Pessoas</p>
                            </div>
                            <div class="details-container">
                                <img src="assets/img/bed.png" alt="marca de seleção" class="list-icon">
                                <p class="list-text">1 Cama King Size</p>
                            </div>
                        </div>
                        <p class="amount-text">NGN35,000 Por Noite</p>
                        <div class="buttons-container">
                            <a href="#" class="btn btn-ghost">Ver Mais</a>
                            <a href="loginCliente" class="btn btn-fill">Reservar Agora</a>
                        </div>
                    </div>
                    <div class="rooms col col-2">
                        <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638448/Rectangle_44_anerdv.png"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Econômico Padrão Individual</h3>
                        <p class="room-text">Projetado especificamente para praticidade e conforto</p>
                        <div>
                            <div class="details-container">
                                <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                <p class="list-text">2 Pessoas</p>
                            </div>
                            <div class="details-container">
                                <img src="assets/img/bed.png" alt="marca de seleção" class="list-icon">
                                <p class="list-text">1 Cama King Size</p>
                            </div>
                        </div>
                        <p class="amount-text">NGN45,000 Por Noite</p>
                        <div class="buttons-container">
                            <a href="#" class="btn btn-ghost">Ver Mais</a>
                            <a href="loginCliente" class="btn btn-fill">Reservar Agora</a>
                        </div>
                    </div>
                    <div class="rooms col col-2">
                        <img src="https://res.cloudinary.com/start-ng/image/upload/v1591638449/Rectangle_45_mtl458.png"
                            alt="" class="rooms-img">
                        <h3 class="room-title">Econômico Padrão Individual</h3>
                        <p class="room-text">Projetado especificamente para praticidade e conforto</p>
                        <div>
                            <div class="details-container">
                                <img src="assets/img/check-square.svg" alt="marca de seleção" class="list-icon">
                                <p class="list-text">2 Pessoas</p>
                            </div>
                            <div class="details-container">
                                <img src="assets/img/bed.png" alt="marca de seleção" class="list-icon">
                                <p class="list-text">1 Cama King Size</p>
                            </div>
                        </div>
                        <p class="amount-text">NGN50,000 Por Noite</p>
                        <div class="buttons-container">
                            <a href="#" class="btn btn-ghost">Ver Mais</a>
                            <a href="loginCliente" class="btn btn-fill">Reservar Agora</a>
                        </div>
                    </div>
                </div>
            </section>
    
        </div>
    </main>
    
    <footer class="footer">
        <div class="footer-container">
            <nav class="footer-nav">
                <div class="footer-description">
                    <h3 class="footer-description-title">Star Hotels</h3>
                    <p>Hospitalidade e conforto são nossas palavras de ordem</p>
                </div>
                <div class="footer-contact-us">
                    <h3 class="footer-description-title">Contate-Nos</h3>
                    <p class="footer-description-detail"> 
                        <img src="/assets/img/map-pin.svg" class="footer-description-icon" alt="localização do star hotel">
    
                        <span>23, Fola Osibo, Lekki Phase 1</span></p>
                    <p class="footer-description-detail">
                        <img src="/assets/img/phone.svg" class="footer-description-icon" alt="número de telefone do star hotels"> 
                        <span>
                     08185956620</span></p>
                    <p class="footer-description-detail">
                        <img src="/assets/img/mail.svg" class="footer-description-icon" alt="email do star hotels">
                        <span>support@starhotels.com</span> </p>
                </div>
                <div class="footer-follow-us">
                    <h3 class="footer-description-title">Siga-Nos</h3>
                    <ul class="footer-follow-us-lists">
                        <li class="follow-us-list">
                            <a href="">
                                <img src="/assets/img/facebook.svg" alt="página do facebook do star hotels">
                            </a>
                        </li>
                        <li class="follow-us-list">
                            <a href="">
                                <img src="/assets/img/twitter.svg" alt="página do twitter do star hotels">
                            </a>
                        </li>
                        <li class="follow-us-list">
                            <a href="">
                                <img src="/assets/img/instagram.svg" alt="página do instagram do star hotels">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </footer>
    <script src="assets/js/switchRooms.js"></script>
    <script src="assets/js/toggleHamburger.js"></script>
</body>
</html>    